* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main_background: hsl(233, 47%, 7%);
    --card_background: hsl(244, 38%, 16%);
    --header-span: hsl(277, 64%, 61%);
    --paragraph: hsla(0, 0%, 100%, 0.75);
    --praimary_font: 'Inter', sans-serif;
    --secondary_font: 'Lexend Deca', sans-serif;
}

main {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--main_background);
}

.card p {
    color: var(--paragraph);
}

.card h1,
p {
    font-family: var(--praimary_font);
}

.card h2 {
    font-family: var(--secondary_font);
}

span {
    color: var(--header-span);
}

.card {
    width: 80vw;
    height: 60vh;
    display: flex;
    background-color: var(--card_background);
    color: white;
    border-radius: 0.6em;
    overflow: hidden;
}

.card_article {
    height: 100%;
    width: 50%;
}

.card_image {
    position: relative;
    height: 100%;
    width: 50%;
    border-top-right-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
}

.overlay {
    position: absolute;
    opacity: 0.4;
    background-color: var(--header-span);
    width: 100%;
    height: 100%;
}

.card_image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right center;
}

.card_stats {
    display: flex;
    gap: 40px;
    line-height: 2em;
}

.card_article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 95px;
    line-height: 1.5em;
}

.card_title h1 {
    font-size: 2.2em;
    line-height: 1.3em;
    margin-bottom: 0.8em;
}


/**************** Media Query ***********/

/********** Laptop **********/

@media only screen and (min-width:1093px) and (max-width:1364px) {
    .card_image {
        width: 45%;
    }

    .card_article {
        width: 55%;
    }
}

/************ Tabet ********/

@media only screen and (min-width:801px) and (max-width:1092px) {
    .card_image {
        width: 30%;
    }

    .card_article {
        width: 70%;
        padding: 30px 50px;
    }

    .card_title h1 {
        font-size: 2em;
    }
}

/****************** Ipad View ***********************/

@media only screen and (min-width:505px) and (max-width:800px) {
    .card {
        width: 80vw;
        height: 85vh;
        flex-direction: column-reverse;
    }

    .card_article {
        width: 100%;
        height: 55%;
        padding: 20px 40px;
    }

    .card_image {
        height: 45%;
        width: 100%;
        background-image: url(images/image-header-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .card_image img {
        display: none;
    }

    .card_title h1 {
        font-size: 2em;
    }

    .card_title p {
        font-size: 0.95em;
    }

    .stats h2 {
        font-size: 1.5em;
    }

}

/************* Mobile View ***************/

@media only screen and (max-width:504px) {
    .card {
        width: 90vw;
        height: 90vh;
        flex-direction: column-reverse;
        text-align: center;
    }

    .card_article {
        width: 100%;
        height: 70%;
        padding: 10px 40px;
    }

    .card_image {
        width: 100%;
        height: 30%;
        background-image: url(images/image-header-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .card_title h1 {
        font-size: 1.8em;
    }

    .card_title p {
        font-size: 0.8em;
    }

    .stats h2 {
        font-size: 1.2em;
    }

    .stats p {
        font-size: 0.8em;
    }

    .card_stats {
        flex-direction: column;
        gap: 10px;
        line-height: 1.6em;
    }



}